
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Author Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> Autor </th>
    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Estatus </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <!-- language Column -->
  <ng-container matColumnDef="language">
    <th mat-header-cell *matHeaderCellDef> Lenguaje </th>
    <td mat-cell *matCellDef="let element"> {{element.language}} </td>
  </ng-container>

  <!-- publishedDate Column -->
  <ng-container matColumnDef="publishedDate">
    <th mat-header-cell *matHeaderCellDef> Fecha de Publicacion </th>
    <td mat-cell *matCellDef="let element"> {{element.publishedDate}} </td>
  </ng-container>

  <!-- genre Column -->
  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef> Genero </th>
    <td mat-cell *matCellDef="let element"> {{element.genre.name}} </td>
  </ng-container>


   <!-- options Column -->
   <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-raised-button color="accent" type ="submit" [routerLink]="['/editarLibro',element.id]">Editar</button>
        <button mat-raised-button color="warn" (click)="deleteBook(element.id)">Borrar</button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>