<!-- <p>
  edit-book works!
</p> -->
<!DOCTYPE html5>
<div class ="centrado example-container">
    <h1>{{title}}</h1>
    <form #formUser="ngForm" (ngSubmit) ="onSubmit()">
        <mat-form-field class="tam" color="accent">
            <input matInput placeholder="Titulo" [(ngModel)]="book.title" name="title" required>
        </mat-form-field>
        <br>
        <mat-form-field class="tam" color="accent">
            <input matInput placeholder="Autor" [(ngModel)]="book.author" name="author" required>
        </mat-form-field>
        <br>
        <mat-form-field class="tam" color="accent">
            <input matInput placeholder="Descripcion" [(ngModel)]="book.description" name="description" required>
        </mat-form-field>
        <br>
        <mat-form-field class="tam" color="accent">
            <mat-select placeholder = "Estatus" [(ngModel)]="book.status" name = "status">
              <mat-option *ngFor="let status of listStatus" [value] = "status">
                {{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <br>

        <mat-form-field class="tam" color="accent">
            <mat-select placeholder = "Genero" [(ngModel)]="book.genre.id" name = "genre">
              <mat-option *ngFor="let genre of listGenre" [value] = "genre.id">
                {{genre?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <br>
        <mat-form-field class="tam" color="accent">
            <input matInput placeholder="Lenguaje" [(ngModel)]="book.language" name="language" required>
        </mat-form-field>
        
        <mat-form-field class="tam" color="accent">
          <input matInput [matDatepicker]="picker" placeholder="Cuando salio el libro"  [(ngModel)]="book.publishedDate" name="publishedDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" type ="submit">Guardar</button>
      </form>
</div>