.centrado{
    text-align: left;
    align-content: center;
    margin: auto;
    width: 35%;
    padding: 70px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.tam{
  width: 100%;
}
