<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Listado de Libros"> 
      <app-show-books></app-show-books>  
    </mat-tab>
    <mat-tab label="Crear un libro">
      <app-create-book></app-create-book>
    </mat-tab>
</mat-tab-group>